
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
